<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<title>{{ page.title }}</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="Content-Language" content="en-us">
	<meta name="author" content="Jon Parise">
	<meta name="MSSmartTagsPreventParsing" content="true">
	<meta name="viewport" content="width=700">
	{% if page.url == '/index.html' %}
	<link rel="me" href="https://github.com/jparise">
	<link rel="me" href="http://twitter.com/jparise">
	<link rel="me" href="http://www.linkedin.com/in/jparise">
	<link rel="me" href="http://www.quora.com/Jon-Parise">
	<link rel="me" href="http://www.flickr.com/photos/jparise/">
	<link rel="me" href="http://en.wikipedia.org/wiki/User:Jparise">
	{% endif %}
	<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css">
	<link rel="alternate" href="/feeds/ink/index.xml" title="Indelible Ink" type="application/atom+xml">
	{% for category in page.categories %}
	<link rel="alternate" href="/feeds/ink/{{ category | downcase }}.xml" title="Indelible Ink ({{ category }})" type="application/atom+xml">
	{% endfor %}
</head>
<body id="indelible">

<div id="container">

<div id="header">
<div id="nav">
<ul>
	<li><a href="/ink/">ink</a></li>
	<li><a href="/projects/">projects</a></li>
	<li><a href="/feeds/">feeds</a></li>
	<li><a href="/about/">about</a></li>
</ul>
<span id="site"><a href="/">Indelible.org</a></span>
{% if page.section %}<span id="section">&ndash; {{ page.section }}</span>{% endif %}
</div>
</div> <!-- /header -->

{{ content }}

<div id="footer">
Copyright &copy; 1999-{{ site.time | date:"%Y" }} by <a href="/about/">Jon Parise</a>.
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/">Some rights reserved.</a>
</div> <!-- /footer -->

</div> <!-- /container -->

{% include analytics.html %}
  
</body>
</html>
