---
layout: default
section: Indelible Ink
---
<div id="ink">
<h1>{{ page.title }}</h1>
<div id="date">{{ page.date | date:'%B %d, %Y' }}</div>

{{ content }}

</div> <!-- /ink -->

<div id="social">
	<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="jparise">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<iframe src="http://www.facebook.com/plugins/like.php?href={{ site.host | urlencode }}{{ page.url | urlencode }}&amp;layout=button_count&amp;show_faces=true&amp;width=150&amp;action=recommend&amp;colorscheme=light&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150; height:21px;" allowTransparency="true"></iframe>
</div>
